.vscode/
__pycache__/
env/
*.png
*.log
CodeEvolution/logs/
CodeEvolution/configurations/draft2.json
CodeEvolution/LocalData/
CodeEvolution/RemoteData/
.idea
CodeEvolution/debug.log
CodeEvolution/simonesCode/
CodeEvolution/test.py
CodeEvolution.egg-info/
build/
dist/
